/* Set the fonts for the page */
body
{
    margin: 0;
    padding: 0;
    background-color: lightgray;
    text-align: center;
}
.header
{
    background-color: rgb(174, 209, 239);
    padding: 15px;
    box-shadow: 0 0 3px blackf;
}

.header li
{
    display: inline;
    padding: 45px;
}
   
   
  
   






