/* Set the fonts for the page */
body,
input,
textarea,
select 
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.0rem;

    
}
body
{
    margin: 0;
    padding: 0;
}
.header 
{
    
    background-color: silver;
   
}
.nav li
{
    display: inline;
    
}
.log
{
    float: right;
}
   
   
  
   






